<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Сайт_на_c_</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
  <header>
      <span>3akatikProger</span>
      <nav>
          <a href="///">Главная</a>
          <a href="///">Обратная связь</a>
      </nav>
  </header>
  <main>
      @RenderBody()
  </main>
  <footer>
      ФУтер
  </footer>
</body>
</html>
