<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Сайт_на_c_</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
  <header>
      <span id="head">3akatikProger</span>
      <nav>
            <a id="ghref" href="https://localhost:7248/">Главная</a>
            <a id="gfhref" href="https://localhost:7248/contact">Обратная связь</a>
      </nav>
  </header>
  <main id="mainVievs">
      @RenderBody()
  </main>
  <footer id="botomText"> 
     footer
  </footer>
</body>
</html>
